<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="darkreader-lock">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">

    <meta property="og:title" content="{% block og_title %}{{ config.title }}{% endblock og_title %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description"
        content="{% block og_description %}{{ config.description }}{% endblock og_description %}">
    <meta property="og:image" content="https://wayofthecrab.com/cover-art.png">

    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="https://wayofthecrab.com/apple-touch-icon.png">

    <link rel="stylesheet" href="/style.css">
    <link rel="alternative" href="/rss.xml" type="application/rss+xml">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <h1><a href="/">{{ config.title }}</a>
                </h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/subscribe/">Subscribe</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>

    <script src="/player.js" type="text/javascript"></script>
</body>

</html>