{% extends "base.html" %}

{% block title %}{{ page.title }} - The Way of the Crab{% endblock title %}
{% block og_title %}{{ page.title }}{% endblock og_title %}
{% block og_description %}{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}{%
endblock og_description %}

{% block content %}
<h1># {{ page.title }}</h1>
{% if page.date %}
<h4>Published {{ page.date | date(format= "%Y-%m-%d") }}</h4>
{% endif %}

{% if page.extra.aac_url %}
<audio controls>
    <source src="{{ page.extra.aac_url }}" type="audio/aac">
</audio>

<section class="audio-meta">
    <p>
        <a class="perma-link" href="{{ page.permalink }}" data-url="{{ page.permalink }}">Share current timestamp</a>
        (copy to clipboard)
    </p>

    <p class="audio-link">
        Controls not working? 
        The episode can be <a href="{{ page.extra.aac_url }}">downloaded here</a>.
    </p>
</section>
{% endif %}

{{ page.content | safe }}
{% endblock content %}
